@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --color-brand-main: #ff7f50;
  --color-brand-orange: #ffa07a;
  --color-brand-yellow: #ffdb7b;
  --color-brand-darkgray: #545454;
  --color-brand-gray: #9b9b9b;
  --color-brand-lightgray: #c4c4c4;
  --color-error: #ff6228;
  --color-pass: #03ca5f;
  --color-black: #353535;
  --color-black-modal-enter: rgba(53, 53, 53, 0.6);
  --color-black-modal-exit: rgba(53, 53, 53, 0);
  --color-white: #ffffff;
  --color-svg-fill: #ffffff;
  --color-svg-stroke: #353535;
  --color-gray-1: #f5f5f5;
  --color-gray-2: #eeeeee;
}

html.darkmode {
  --color-black: #ffffff;
  --color-white: #353535;
  --color-svg-fill: #ffdb7a;
  --color-svg-stroke: #ffdb7a;
  --color-gray-1: #353535;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

#root {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-main);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

::-webkit-input-placeholder {
  /* 웹킷 기반 브라우저(크롬, 사파리 등) */
  color: var(--color-brand-lightgray); /* 원하는 색상으로 변경 */
}

:-moz-placeholder {
  /* 파이어폭스 */
  color: var(--color-brand-lightgray); /* 원하는 색상으로 변경 */
}

::-moz-placeholder {
  /* 오래된 파이어폭스 */
  color: var(--color-brand-lightgray); /* 원하는 색상으로 변경 */
}

:-ms-input-placeholder {
  /* 인터넷 익스플로러 */
  color: var(--color-brand-lightgray); /* 원하는 색상으로 변경 */
}
